{% extends "layouts/base.html" %}

{% block title %}Login - Lelana.id{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    
    <div class="form-field">
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
        {% for error in form.email.errors %}
            <span class="error">[{{ error }}]</span>
        {% endfor %}
    </div>

    <div class="form-field">
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}
            <span class="error">[{{ error }}]</span>
        {% endfor %}
    </div>

    <div class="form-field">
        {{ form.remember() }} {{ form.remember.label }}
    </div>

    <div class="form-field">
        {{ form.submit() }}
    </div>
</form>

<p>Lupa password? <a href="{{ url_for('auth.password_reset_request') }}">Reset di sini</a>.</p>
<p>Belum punya akun? <a href="{{ url_for('auth.register') }}">Daftar di sini</a></p>
{% endblock %}