{% extends "layouts/base.html" %}

{% block title %}Atur Ulang Password{% endblock %}

{% block content %}
<h2>Atur Ulang Password Anda</h2>
<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-field">
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}<span class="error">[{{ error }}]</span>{% endfor %}
    </div>
    <div class="form-field">
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}
        {% for error in form.confirm_password.errors %}<span class="error">[{{ error }}]</span>{% endfor %}
    </div>
    <div class="form-field">
        {{ form.submit() }}
    </div>
</form>
{% endblock %}