{% extends "layouts/base.html" %}

{% block title %}Kebijakan Privasi - Lelana.id{% endblock %}

{% block content %}
    <h1>Kebijakan Privasi</h1>
    <p>Privasi Anda sangat penting bagi kami. Pernyataan privasi ini menjelaskan data pribadi yang diproses oleh Lelana.id, bagaimana Lelana.id memprosesnya, dan untuk tujuan apa.</p>
    <p>Kami mengumpulkan data untuk beroperasi secara efektif dan memberikan Anda pengalaman terbaik dalam menggunakan layanan kami. Anda memberikan sebagian data ini secara langsung, seperti saat membuat akun. Sebagian lainnya kami peroleh dengan mencatat bagaimana Anda berinteraksi dengan layanan kami, misalnya melalui penggunaan teknologi seperti cookie, serta menerima laporan kesalahan atau data penggunaan dari perangkat yang Anda gunakan.</p>
{% endblock %}